main {
  margin-top: 120px !important;
}

.a-nav-link {
  color: #9A9BAA;
  cursor: pointer;
}
.a-nav-link:hover {
  color: #756D6C;
  background-color: rgba(214, 214, 214, 0.5);
}
.a-nav-link:active {
  color: #756D6C;
  background-color: rgba(214, 214, 214, 0.5);
}
.a-nav-link:focus {
  color: #756D6C;
  background-color: rgba(214, 214, 214, 0.5);
}

.side-nav {
  position: fixed;
  width: 240px;
  top: 0;
  left: 252px;
  margin: 0;
  height: 100%;
  height: -webkit-calc(100% + 60px);
  height: calc(100% + 60px);
  height: -moz-calc(100%);
  color: #d8d8d8;
  background-color: #F5F3F6;
  z-index: 999;
  -webkit-backface-visibility: hidden;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-transform: translateX(-105%);
  -ms-transform: translateX(-105%);
  transform: translateX(-105%);
  padding: 0
}

.side-nav ul {
  list-style-type: none
}

.side-nav ul li {
  padding: 0
}

.side-nav.right-aligned {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%)
}

.side-nav .collapsible {
  margin: 0;
  padding: 0
}

.side-nav .collapsible li a:hover {
  background-color: rgba(0, 0, 0, .15)
}

.side-nav .collapsible > li a.collapsible-header.active, .side-nav .collapsible > li a.collapsible-header:hover {
  background-color: rgba(255, 255, 255, .15)
}

.side-nav .collapsible ul {
  padding: 0;
  list-style-type: none
}

.side-nav .collapsible a {
  color: #fff;
  font-weight: 300;
  font-size: .8rem
}

.side-nav .collapsible .fa {
  font-size: .8rem;
  margin-right: 13px
}

.side-nav .collapsible-body a {
  padding-left: 47px;
  height: 36px;
  line-height: 36px;
  background-color: rgba(0, 0, 0, .15)
}

.side-nav a {
  display: block;
  font-size: 1rem;
  height: 56px;
  line-height: 56px;
  padding-left: 20px
}

.side-nav .logo-wrapper {
  height: 140px
}

.side-nav .logo-wrapper a {
  height: 140px;
  width: 240px;
  padding: 0
}

.side-nav .logo-wrapper img {
  height: auto;
  padding: 20% 50px
}

.dashboard {
  padding-bottom: 200px;
}
