<!--Double navigation-->
<header>
  <!-- Navbar -->
  <mdb-navbar SideClass="navbar fixed-top navbar-toggleable-md navbar-expand-lg navbar-light white scrolling-navbar double-nav"
              [containerInside]="false">

    <navlinks>
      <ul class="nav navbar-nav nav-flex-icons ml-auto ie-double-nav">
        <li *ngIf="!isLoggedIn()" class="nav-item a-nav-link" [routerLink]="['/app/login']">
          <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-user"></i>
            <span class="clearfix d-none d-sm-inline-block">Sign in</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item a-nav-link" [routerLink]="['/app/profile']">
          <a class="nav-link waves-light" mdbRippleRadius><i class="fa fa-user"></i>
            <span class="clearfix d-none d-sm-inline-block">Account</span>
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item a-nav-link">
          <a (click)="logout()" class="nav-link waves-light" mdbRippleRadius><i class="fa fa-sign-out"></i>
            <span class="clearfix d-none d-sm-inline-block">Logout</span>
          </a>
        </li>
      </ul>
    </navlinks>
  </mdb-navbar>
  <!--/. Navbar -->
</header>
<!--/.Double navigation-->

<!--Main Layout-->
<main>
  <div class="container-fluid mt-5">
    <div class="row">

      <div *ngIf="isLoggedIn()" class="col-sm-2">
        <ul class="side-nav fixed">
          <!-- Logo -->
          <li>
            <div class="logo-wrapper waves-light">
              <a href="localhost:4200/"><img src="assets/images/logo.jpg" class="img-fluid flex-center"></a>
            </div>
          </li>
          <hr class="mt-5">
          <!--/. Logo -->
          <li *ngIf="isLoggedIn()" class="a-nav-link">
            <a class="a-nav-link" href="#" [routerLink]="['/app/profile']">
              <i class="fa fa-home" aria-hidden="true"></i> Home</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a class="a-nav-link" href="#" [routerLink]="['/app/profile']">
              <i class="fa fa-user" aria-hidden="true"></i> Profile</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a class="a-nav-link" href="#" [routerLink]="['/app/files-incoming']">
              <i class="fa fa-envelope-open-o" aria-hidden="true"></i> Received data</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a class="a-nav-link" href="#" [routerLink]="['/app/files-outgoing']">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Sent data</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-10" style="padding-left: 0; padding-right: 0;">
        <div class="container-fluid">
          <!-- Content here -->
          <div class="dashboard">
            <router-outlet></router-outlet>
          </div>
        </div>

        <!--Footer-->
        <footer *ngIf="isLoggedIn()" class="page-footer blue center-on-small-only">

          <!--Footer Links-->
          <div class="container">
            <div class="row">

              <!--First column-->
              <div class="col-sm-6">
                <h5 class="title">G48</h5>
                <p>This website represents a project for the Garage48 hackathon.</p>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div class="col-sm-6">
                <h5 class="title">Links</h5>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
              </div>
              <!--/.Second column-->
            </div>
          </div>
          <!--/.Footer Links-->

          <!--Copyright-->
          <div class="footer-copyright">
            <div class="container-fluid">
              © 2018 Copyright: <a href="http://localhost:4200/"> g48 </a>
            </div>
          </div>
          <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
      </div>
      <div *ngIf="!isLoggedIn()" class="col-sm-12" style="padding: 0;">
        <!--Footer-->
        <footer class="page-footer blue center-on-small-only">

          <!--Footer Links-->
          <div class="container">
            <div class="row">

              <!--First column-->
              <div class="col-sm-6">
                <h5 class="title">G48</h5>
                <p>This website represents a project for the Garage48 hackathon.</p>
              </div>
              <!--/.First column-->

              <!--Second column-->
              <div class="col-sm-6">
                <h5 class="title">Links</h5>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Contacts</a></li>
                </ul>
              </div>
              <!--/.Second column-->
            </div>
          </div>
          <!--/.Footer Links-->

          <!--Copyright-->
          <div class="footer-copyright">
            <div class="container-fluid">
              © 2018 Copyright: <a href="http://localhost:4200/"> g48 </a>
            </div>
          </div>
          <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
      </div>
    </div>
  </div>
</main>
<!--/Main layout-->
